.gaya {
  font-family: 'Quicksand', sans-serif;
  padding: 10px;
}

.kode {

  font-family: 'Source Code Pro',
    monospace;
  font-size: 11px !important;

}

.kecil {
  font-size: small;
  color: grey;
}

.lead {
  font-size: 30px !important;
  font-weight: lighter !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}